@charset "utf-8";
body {
    font-family: "Montserrat", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
    background-color: #FFFFFF;
    width: 80%;
    margin-left: 10%;
  }
  .main{
  width: 800px;
    height: 750px;
    margin-top: 50px;
    background-color: rgb(0, 0, 0);
    border: groove #CCCCCC;
  }
  .site-logo {
    font-family: 'VT323', monospace;
    text-align: center;
    font-size: 5rem;
    color: #F7DA0C;
    text-shadow: 0px -7px 1px #715199,0px -14px 1px #558A7D;
  }
  .make{
    margin-top: 30px;
    margin-bottom: 15px;
    text-align: center;
    font-family: 'VT323', monospace;
    font-size: 2rem;
    font-weight: bold;
    color: #F7DA0C;
  }
  p{
    margin-top: 30px;
    margin-bottom: 15px;
    text-align: center;
    font-family: 'VT323', monospace;
    font-size: 1rem;
    font-weight: bold;
    color: #F7DA0C;
  }
  .question-form{
    margin-left: 30px;
    text-align: left;
    font-family: 'VT323', monospace;
    font-size: 1.2rem;
    font-weight: bold;
    color: #F7DA0C;
    text-shadow: 0px -2px 1px #715199,0px -1px 1px #558A7D;
  }
  form div{
    margin-bottom: 14px;
  }
  textarea{
    width: 100%;
    max-width: 700px;
    height: 4rem;
  }
  .button{
    margin-top: 30px;
    text-align: center;
  }

