@charset "utf-8";
body {
    font-family: "Montserrat", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
    background-color: #FFFFFF;
    width: 80%;
    margin-left: 10%;
  }
  .main{
  width: 800px;
    height: 600px;
    margin-top: 50px;
    background-color: rgb(0, 0, 0);
    border: groove #CCCCCC;
  }
  .site-logo {
    font-family: 'VT323', monospace;
    text-align: center;
    font-size: 5rem;
    color: #F7DA0C;
    text-shadow: 0px -7px 1px #715199,0px -14px 1px #558A7D;
  }
  .question-instruction{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    font-size: 150%;
    color: ghostwhite;
    font-weight: bold;
  }
  .start-button img{
    width: 300px;
    margin: 30px 0 0 250px;
  }